* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222222;
}

/* header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

header div {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  color: #ffffff;
  padding: 0rem 1.2rem;
  text-shadow: red 1.5px 0 0, red 0 1.5px 0, red -1.5px 0 0, red 0 -1.5px 0;
}

/* nav */
nav ul {
  display: flex;
  list-style-type: none;
  /* flex-wrap: wrap; */
}

nav ul li {
  /* flex-direction: column; */
}

header a {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  padding: 1rem 1.2rem;
}

header a:hover {
  color: red;
  background-color: #444444;
  transition: all 0.3s ease;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  color: #ffffff;
}

main article {
  /* min-height: 450px; */
  min-height: 50vh;
  padding: 2rem 2.5rem;
  background-image: url(images/LogoName.jpg);
  /* background-image: url(https://s3-media0.fl.yelpcdn.com/bphoto/X3idK-Z-U7Y1B68K5DShLw/o.jpg); */
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  font-style: italic;
  /* margin: 0px 10px; */
  /* border-radius: 20px; */
}

main article h2 {
  font-size: 36px;
  margin: 0px 0px 10px 0px;
}

/* main section {
  min-height: 30vh;
  background-color: antiquewhite;
} */

/* product Photos Block */
.product-Photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-Photos img {
  max-width: 25vw;
}

/* Contact Block */
.contact-block {
  min-height: 30vh;
}

.contact-block {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
}

.contact-block-left p {
  padding: 5px;
}

.contact-block-right table {
  text-align: left;
}
.contact-block-right tr th,
tr td {
  padding: 0px 5px;
}
.contact-block-right th {
  padding-bottom: 5px;
}

/* footer */
#madeSign {
  min-height: 5vh;
  /* background-color: antiquewhite; */
  background-color: white;
  text-align: center;
  padding: 0.5rem;
  font-style: italic;
  color: black;
}

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
  }

  header div {
    margin-bottom: 1rem;
  }

  header h1 {
    font-size: 2rem;
  }

  header img {
    width: 40px;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
  }

  nav ul li {
    padding: 10px 10px;
    border-top: 1px solid #444444;
  }

  nav ul li a {
    font-size: 1rem;
  }
}
