* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222222;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

header div {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  color: #ffffff;
  padding: 0rem 0.5rem;
  text-shadow: red 1.5px 0 0, red 0 1.5px 0, red -1.5px 0 0, red 0 -1.5px 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  /* flex-wrap: wrap; */
}

header a {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  padding: 1rem 1.2rem;
  border-radius: 7px;
}

header a:hover {
  color: red;
  background-color: #444444;
  transition: all 0.3s ease;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  color: #ffffff;
}

main article {
  /* min-height: 450px; */
  min-height: 50vh;
  padding: 2rem 2.5rem;
  background-image: url(images/LogoName.jpg);
  /* background-image: url(https://s3-media0.fl.yelpcdn.com/bphoto/X3idK-Z-U7Y1B68K5DShLw/o.jpg); */
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  font-style: italic;
}

main article h2 {
  font-size: 36px;
  margin: 0px 0px 10px 0px;
}

/* Product Photos Block */
.product-Photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-Photos img {
  max-width: 25vw;
}

/* Contact Block */
.contact-block {
  min-height: 30vh;
}

.contact-block {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
}

.contact-block-left p {
  padding: 5px;
}

.contact-block-right table {
  text-align: left;
}
.contact-block-right tr th,
tr td {
  padding: 0px 5px;
}
.contact-block-right th {
  padding-bottom: 5px;
}

/* Footer */
#madeSign {
  min-height: 5vh;
  background-color: white;
  text-align: center;
  padding: 0.5rem;
  font-style: italic;
  color: black;
}

/* Mobile Phones */
@media screen and (max-width: 380px) {
  /* Header */
  header {
    flex-direction: column;
  }

  header div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
    text-align: center;
  }

  nav ul li a {
    font-size: 20px;
    padding: 10px 25vw;
    border-radius: 5px;
  }

  /* Main */
  main {
    font-size: 1rem;
  }

  main article h2 {
    font-size: 24px;
  }

  /* product Photos Block */
  .product-Photos img {
    max-width: 100vw;
  }

  /* Contact Block */
  .contact-block {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-block-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-block-left p {
    padding: 10px;
  }

  .contact-block-right table {
    text-align: center;
    padding-top: 10px;
  }
}

@media screen and (max-width: 500px) and (min-width: 381px) {
  /* Header */
  header {
    flex-direction: column;
  }

  header div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  header h1 {
    font-size: 2rem;
  }

  header img {
    width: 40px;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
    text-align: center;
  }

  nav ul li a {
    font-size: 20px;
    padding: 10px 25vw;
    border-radius: 5px;
  }

  /* Main */
  main {
    font-size: 1.25rem;
  }

  main article h2 {
    font-size: 30px;
  }

  /* Product Photos Block */
  .product-Photos img {
    max-width: 50vw;
  }

  /* Contact Block */
  .contact-block {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-block-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-block-left p {
    padding: 10px;
  }

  .contact-block-right table {
    text-align: center;
    padding-top: 10px;
  }
}

/* Tablets */
@media screen and (max-width: 889px) and (min-width: 501px) {
  /* Header */
  header {
    justify-content: center;
  }

  header div {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  nav ul li a {
    padding: 15px 7vw;
  }

  /* Product Photos Block */
  .product-Photos img {
    max-width: 50vw;
  }
}
